<!DOCTYPE HTML>
<html>
    
<head>
    <meta charset="utf-8">
    <title>SmartProcess</title>

    <link href = "css/handsontable.full.min.css" rel = "stylesheet" media = "screen">
    <script src = "https://code.jquery.com/jquery-latest.min.js"></script>
    <link href = "css/index.css" rel = "stylesheet" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script type="text/javascript" src="dist/languages/all.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/handsontable@7.2.1/dist/handsontable.full.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable@7.2.1/dist/handsontable.full.min.css">
    



</head>

<body class="body"> 
    <nav class = "navbar navbar-fixed-top">
        <div class = "container-fluid">
            <div class = "navbar-header">
                    <img class = "navbar-header" src="images\apllogo.png" width="60px">
               <a class = "navbar-brand"> SeeLock </a>

            </div>

            <div class = "navbar-form navbar-left">
                <div class = "controls">            
                        <select id = "parent-dropdown" class = "dropdown" onchange = "parentDropChange()">
                            <option value = "SmartProcess">SmartProcess</option>
                            <optgroup label = "=========================="></optgroup>
                            <option value = "Add">Add</option>
                        </select>  
                </div>
            </div>

            <div class="navbar-form navbar-left" >
                <div>
                    <button name = "default" id = "default" class= "btn">Get Pro version</button>
                </div>
            </div>

            <div class="navbar-form navbar-right input-form" >
                <input type = "text" class = "form-control" placeholder = "not yet supported">
            </div>

            <div class="navbar-form navbar-right search-form" >
                <span>Search&nbsp; | </span>
            </div>
        </div>
    </nav>

    <div class = "container-fluid ">
        <div class = "row">
            <div class="col-sm-3 sidebar">

                    <div class="col-sm-9 editbox">
                        
                        <br><h5 class = "h5-header">Text Editor</h5>
                        
                        <div class= "textbartools">

                           <input type="image" src="images\icons8-bold-80.png" name="saveForm" id="bold"></input>
                           <input type="image" src="images\icons8-italic-80.png" name="saveForm" id="bold"></input>
                           <input type="image" src="images\icons8-underline-80.png" name="saveForm" id="bold"></input>
                           <input type="image" src="images\icons8-fill-color-80.png" name="saveForm" id="bold"></input>
                           <input type="image" src="images\icons8-text-color-80.png" name="saveForm" id="bold"></input>


                        </div>




                        <hr style="border: solid 1px; color: rgb(212, 212, 212)">

                        <div class = "file-upload-header">
                            <h5 class = "h5-header">File upload</h5>
                        </div>

                        
                        <form class = "sidebar-upload-file">
                            <div id = "date" class = "sidebar-info">
                                <span class = "static-info-name">날짜 : </span>
                                <span id = "info-date" class = "info-info">20191011</span>
                            </div>
                            <div id = "name" class = "sidebar-info">
                                <span class = "static-info-name">이름 : </span>
                                <span id = "info-name" class = "info-info">홍길동</span>
                            </div>
                            <div id = "board-number" class = "sidebar-info">
                                <span class = "static-info-name">해당번호기판번호 : </span>
                                <span id = "info-board-number" class = "info-info">1</span>
                            </div>


                    
                        </form>
                        <!-- <div>
                            <input type="file" class="form-control-file border">
                        </div> -->
                        
                        <div class="container"> <!--여기 확인해야하는 부분-->

                        <h5 class = "h5-header">File uploader</h5>
                        <%= typeof msg != 'undefined' ? msg : '' %>
                     <form action="/upload" method="POST" enctype="multipart/form-data">
                        <div class="file-field input-field">
                            <div class="btn grey">
                                <span>File</span>
                                <input name="image" type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                        <button type="submit" class="btn">submit</button>
                    <br>
                    <br>
                    <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">
                    </form>
                    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                        crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
                    </div>

                </div>

                
        
                                           
            </div>

            <div class = "col-sm-9 tablebox">
                <div class = "panel panel-default">
                    <div class="panel-heading">
                        <span class="panel-head">Process : </span>                        
                        <select id = "dropdown" class = "dropdown process-color" onchange = "dropChange()">
                            <option value = "샘플준비">샘플준비</option>
                            <option value = "세정1">세정1</option>
                            <option value = "세정2">세정2</option>
                            <option value = "세정3">세정3</option>
                            <option value = "세정블로윙">세정블로윙</option>
                            <option value = "프리스퍼터링">프리스퍼터링</option>
                            <option value = "스퍼터링">스퍼터링</option>
                            <option value = "열처리">열처리</option>
                            <option value = "PR핸드블로윙">PR핸드블로윙</option>
                            <option value = "HDMS코팅">HDMS코팅</option>
                            <option value = "PR코팅">PR코팅</option>
                            <option value = "PR베이킹">PR베이킹</option>
                            <option value = "클로로벤젠처리">클로로벤젠처리</option>
                            <option value = "클로로벤젠세정후블로윙">클로로벤젠세정후블로윙</option>
                            <option value = "노광">노광</option>
                            <option value = "현상">현상</option>
                            <option value = "현상액세정후블로윙">현상액세정후블로윙</option>
                            <option value = "이베포레이션샘플거치">이베포레이션샘플거치</option>
                            <option value = "스트립-담그기">스트립-담그기</option>
                            <option value = "스트립-뿌리기">스트립-뿌리기</option>
                            <option value = "산화막제거">산화막제거</option>
                            <option value = "실버페이스트도포">실버페이스트도포</option>
                            <option value = "실버페이스트건조">실버페이스트건조</option>
                            <option value = "측정">측정</option>
                            <optgroup label = "==================="></optgroup>
                            <option value = "Add">Add</option>
                        </select> 

                            <span class = "console">&nbsp;&nbsp;&nbsp;State &nbsp;:&nbsp;</span>
                            <span id = "tableconsole" class = "console">Click " Upload sheet to DB " to save data to server</span>

                    </div>

                    <div class = "spreadsheet">
                        <div id = "table" class = "hot"></div>
                        <button id="exportfile" class="btn">Download CSV</button>
                    </div>
                    
                    <div class="panel-body">
                        
                        <div class = "left-btn-wrapper">
                            <button name = "dummy" id = "dummy" class= "btn">Download sheet to .csv</button>
                            <button name = "dummy" id = "dummy" class= "btn">Another Button</button>
                        </div>

                        <div class = "upload-btn-wrapper">
                            <button name = "save" id = "save" class= "btn">Upload sheet to DB</button>
                        </div>

                    </div>
                </div>

                <footer class = "footer">
                    <hr id = "footer-line" class = "one">
                    <div ><img src="images\footer-logo.png" width="100px" height="90px"></div>
                    <div style = "font-weight: 700"></div>
                    <div>Designed by SMART PROCESS Team</div>
                </footer>
            </div>
        </div>


    </div>

    <script src = "js/handsontable.full.min.js"></script>
    <script src = "js/processess.js"></script>
    <script src = "js/table.js"></script>
</body>

</html>

    <!-- <div class="loading-container">
        <div class="loading"></div>
        <div id="loading-text">loading</div>
    </div> -->