<!DOCTYPE HTML>
<html>
    
<head>
    <meta charset="utf-8">
    <title>SeeLock</title>

    <link href = "css/handsontable.full.min.css" rel = "stylesheet" media = "screen">
    <script src = "https://code.jquery.com/jquery-latest.min.js"></script>
    <link href = "css/index.css" rel = "stylesheet" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>

<body class="body"> 
    <nav class = "navbar navbar-fixed-top">
        <div class = "container-fluid">
            <div class = "navbar-header">
                <a class = "navbar-brand">[ SeeLock ]</a>
            </div>

            <div class = "navbar-form navbar-left">
                <div class = "controls">            
                        <select id = "parent-dropdown" class = "dropdown" onchange = "parentDropChange()">
                            <option value = "SmartProcess">SmartProcess</option>
                            <!-- <optgroup label = "=========================="></optgroup> -->
                            <!-- <option value = "Add">Add</option> -->
                        </select>  
                </div>
            </div>

            <!--

	    <div class="navbar-form navbar-left" >
                <div>
                    <button name = "default" id = "default" class= "btn">Get Pro version</button>
                </div>
	    </div> 

	    -->

            <div class="navbar-form navbar-right input-form" >
                <input type = "text" class = "form-control" placeholder = "not yet supported">
            </div>

            <div class="navbar-form navbar-right search-form" >
                <span>Search&nbsp; | </span>
            </div>
        </div>
    </nav>

    <div class = "container-fluid ">
        <div class = "row">
            <div class="col-sm-3 sidebar">

                    <div class="col-sm-9 editbox">
                        
                        <br><h5 class = "h5-header">Text Editor:</h5> 
            
                        <input type="image" src="images\icons8-bold-80.png" name="saveForm" id="bold"></input>
                        <input type="image" src="images\icons8-italic-80.png" name="saveForm" id="bold"></input>
                        <input type="image" src="images\icons8-underline-80.png" name="saveForm" id="bold"></input>


                        <hr style="border: solid 1px; color: rgb(212, 212, 212)">

                        <div id = "file-uploader" class = "hide">

                            <div>
                                <h5 class = "h5-header">File upload</h5>
                            </div>

                            <form>
                                <div id = "_id" class = "sidebar-info">
                                    <span class = "static-info-name">_id : </span>
                                    <span id = "info-id" class = "info-info"></span>
                                </div>
                                <div id = "date" class = "sidebar-info">
                                    <span class = "static-info-name">날짜 : </span>
                                    <span id = "info-date" class = "info-info"></span>
                                </div>
                                <div id = "name" class = "sidebar-info">
                                    <span class = "static-info-name">이름 : </span>
                                    <span id = "info-name" class = "info-info"></span>
                                </div>
                                <div id = "board-number" class = "sidebar-info">
                                    <span class = "static-info-name">해당번호기판번호 : </span>
                                    <span id = "info-board-number" class = "info-info"></span>
                                </div>

                                <div id = "real_id" class = "hide"></div>
                                
                                <div class="filebox">
                                    <div class = "files">
                                        <label for = "file-select">Upload</label>  
                                        <input class = "file-name" id = file-name value = "File Name" disabled="disabled"> 
                                        <input type = "file" id = "file-select" class = "upload-hidden"> 
                                    </div>
                                </div>
                            </form>
                            
                            <div class = "submit-file">
                                <button id = "submit" class = "btn">Submit</button>
                            </div>
                            

                        </div>

                        <div id = "memo">
                            <div>
                                <h5 class = "h5-header">Memo</h5>
                            </div>

                            <div class = "memo-wrapper">
                                <textarea type = "text" id = "memo-text" class = "memo" placeholder = "Memo for each Process" disabled></textarea>
                            </div>
                            <div>
                                <button id = "memo-button" class= "btn">Modify</button>
                            </div>
                        </div>
            
                    </div>
                   
            </div>

            <div class = "col-sm-9">
                <div class = "panel panel-default">
                    <div class="panel-heading">                       
                        <select id = "dropdown" class = "dropdown process-style" onchange = "dropChange()">
                            <option value = "Sample_preparation">샘플준비</option>
                            <option value = "Washing1">세정1</option>
                            <option value = "Washing2">세정2</option>
                            <option value = "Washing3">세정3</option>
                            <option value = "DI_cleaning">DI세정</option>>
                            <option value = "Cleaning_blowing">세정블로윙</option>
                            <option value = "Pre_sputtering">프리스퍼터링</option>
                            <option value = "Sputtering">스퍼터링</option>
                            <option value = "Heat_treatment">열처리</option>
                            <option value = "PR_hand_blowing">PR핸드블로윙</option>
                            <option value = "HMDS_coating">HMDS코팅</option>
                            <option value = "PR_coating">PR코팅</option>
                            <option value = "PR_baking">PR베이킹</option>
                            <option value = "PR_cooling">PR쿨링</option>
                            <option value = "Chlorobenzene_treatment">클로로벤젠처리</option>
                            <option value = "Blowing_after_chlorobenzene_cleaning">클로로벤젠세정후블로윙</option>
                            <option value = "Stepper_exposure">노광</option>
                            <option value = "Develop">현상</option>
                            <option value = "Cleaning_after_develop">현상후세정</option>
                            <option value = "Blowing_after_develop_cleaning">현상액세정후블로윙</option>
                            <option value = "Sample_preparation_for_evaporation">이베포레이션샘플거치</option>
                            <option value = "evaporation">이베포레이션</option>
                            <option value = "Strip_soaking">스트립-담그기</option>
                            <option value = "Strip_spreading">스트립-뿌리기</option>
                            <option value = "Oxide_removal">산화막제거</option>
                            <option value = "Applying_silver_paste">실버페이스트도포</option>
                            <option value = "Dry_silver_paste">실버페이스트건조</option>
                            <option value = "Measure">측정</option>
                            <!-- <optgroup label = "==================="></optgroup> -->
                            <!-- <option value = "Add">Add</option> -->
                        </select>

                        <select id = "mode-select-dropdown" class = "dropdown mode-style" onchange = "modeDropChange()">
                            <option value = "Upload-mode">Upload Mode</option>
                            <option value = "Update-mode">Update Mode</option>
                        </select>

                        <div class = "advice-console">
                            <span class = "console">&nbsp;&nbsp;&nbsp;Advice &nbsp;:&nbsp;</span>
                            <span id = "tableconsole" class = "console">Click " Upload sheet to DB " to save data to server</span>
                        </div>

                    </div>

                    <div class = "spreadsheet">
                        <div id = "table" class = "hot"></div>
                    </div>

                    <div class="panel-body">
                        <!-- <div class = "left-btn-wrapper">
                            <button name = "dummy" id = "dummy" class= "btn">Download sheet to .csv</button>
                            <button name = "dummy" id = "dummy" class= "btn">Another Button</button>
                        </div> -->

                        <div class = "upload-btn-wrapper">
                            <button name = "save" id = "save" class= "btn">Upload sheet to DB</button>
                        </div>

                    </div>
                </div>

                <footer class = "footer">
                    <hr id = "footer-line" class = "one">
                    <div>It is SeeLock and</div>
                    <div style = "font-weight: 700">APL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div>Designed by silofox</div>
                </footer>
            </div>
        </div>


    </div>

    <script src = "js/handsontable.full.min.js"></script>
    <script src = "js/processess.js"></script>
    <script src = "js/table.js"></script>
    <script src = "js/table_update.js"></script>
    <script src = "js/file_transmition.js"></script>
</body>

</html>

    <!-- <div class="loading-container">
        <div class="loading"></div>
        <div id="loading-text">loading</div>
    </div> -->
