<!DOCTYPE HTML>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>SeeLock</title>

        <link href = "css/handsontable.full.min.css" rel = "stylesheet" media = "screen">
        <script src = "https://code.jquery.com/jquery-latest.min.js"></script>
        <link href = "css/print.css" rel = "stylesheet" type = "text/css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    </head>

    <body class="body"> 
        <nav class = "navbar navbar-fixed-top">
            <div class = "container-fluid">
                <div class = "navbar-header">
                    <a class = "navbar-brand">연구노트</a>
                </div>

                <div class = "navbar-form navbar-left">
                    <h4 id = "researcher">장우영
                        <small class="text-muted">연구원</small>
                    </h4>
                </div>
            </div>
        </nav>

        <div class = "container">
            <div class = "row justify-content-md-center">
                <div class = "col">
                    <div class = "panel panel-default">

                        <div id = "sheet-controller"></div>

                        <div id = "memo-form">
                            <ul id = "memo-controller"></ul>
                        </div>

                        <div class = "panel-body">

                        </div>
                </div>
            </div>
        </div>


        <footer class = "footer">
            <hr id = "footer-line" class = "one">
            <div>It is SeeLock and</div>
            <div style = "font-weight: 700">APL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div>Designed by silofox</div>
        </footer>

        <script src = "js/handsontable.full.min.js"></script>
        <script src = "js/processess.js"></script>
        <script src = "js/collection_reallocate.js"></script>
        <script src = "js/print.js"></script>
    </body>

</html>