<!DOCTYPE HTML>
<html>
    
<head>
    <meta charset="utf-8">
    <title>SeeLock</title>

    <link href = "css/handsontable.full.min.css" rel = "stylesheet" media = "screen">
    <script src = "https://code.jquery.com/jquery-latest.min.js"></script>
    <link href = "css/index.css" rel = "stylesheet" type="text/css">
    <link href = "css/search.css" rel = "stylesheet" type = "text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>

<body class="body"> 
    <nav class = "navbar navbar-fixed-top">
        <div class = "container-fluid">
            <div class = "navbar-header">
                <a class = "navbar-brand">[ SeeLock ]</a>
            </div>

            <div class = "navbar-form navbar-left">
                <div class = "controls">            
                        <select id = "parent-dropdown" class = "dropdown">
                            <option value = "SmartProcess">SmartProcess</option>
                            <!-- <optgroup label = "=========================="></optgroup> -->
                            <!-- <option value = "Add">Add</option> -->
                        </select>
                        
                        
                        <button id = "back-btn" class = "btn">Back</button>
                        
                </div>

                
            </div>


            

            
        </div>
    </nav>

    <div class = "container">
        <div class = "row justify-content-md-center">
            <div class = "col">
                <div class = "panel panel-default">
                    <div class = "panel-body">
                        <div class="navbar-form search-form" >
                            <span>Name</span>
                            <span id = "name-bar">|</span>
                            <input id = "name-input" type = "text" class = "form-control" placeholder = "John Doe">
                        </div>

                        <div class="navbar-form search-form" >
                            <span>Start Date</span>
                            <span id = "start-bar">|</span>
                            <input id = "start-input" type = "text" class = "form-control" placeholder = "20201004">
                        </div>

                        <div class="navbar-form search-form" >
                            <span>End Date</span>
                            <span id = "end-bar">|</span>
                            <input id = "end-input" type = "text" class = "form-control" placeholder = "20201006">
                        </div>

                        <div class = "right-btn-wrapper">
                            <button id = "search-btn" class = "btn">Search</button>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class = "footer">
        <hr id = "footer-line" class = "one">
        <div>It is SeeLock and</div>
        <div style = "font-weight: 700">APL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div>Designed by silofox</div>
    </footer>

    <script src = "js/search.js"></script>

</body>

</html>