.controls{
    text-align: right;
}
.column{
    float: left;
    width: 99%;
    margin-left: 5px;
}
.store_image{
    float: left;
    width: 33%;
}
.hot{
    margin-top: 10px;
    margin-left: 5px;
    /* margin-right: 20px; */
}
.store_image{
    margin-left: 5px;
}
.body{
    background-color: rgb(242, 251, 255);
}
.app-header-dark{
    color: rgb(68, 0, 255);
}
.dropdown{
    width: 300px; /* 원하는 너비설정 */
    padding: .3em .5em; /* 여백으로 높이 설정 */
    font-family: inherit;  /* 폰트 상속 */
    /* background: url('이미지 경로') no-repeat 95% 50%; 네이티브 화살표를 커스텀 화살표로 대체 */
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px; /* iOS 둥근모서리 제거 */
    /* -webkit-appearance: none; 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    background-color: rgb(223, 223, 223);
    font-weight: 700;
    /* margin-right: 200px; */
}
.ht_master tr td {
    background-color: #e3f2fd;
}
.handsontable th {
    background-color: #97cefc;
}
.console{
    color: rgb(68, 87, 255);
    font-size: 1.5em;
}
.h1{
    font-size: 3em !important;
}