.body{
    background-color: #f9fdff;
}

.navbar{
    background-color: #ffffff !important;
    height: 70;
    border-bottom: 1px solid rgb(221, 221, 221) !important;
}
/* .navbar-inverse{
    background-color: #ffffff !important;
} */
.navbar-brand{
    float: left;
    height: 60px !important;
    padding: 15px 15px;
    font-size: 40px !important;
    line-height: 35px !important;
    color: #3b93ff !important;
    border-right: rgb(221, 221, 221) !important;
}
.navbar-brand:hover {
    color: rgba(95, 95, 95, 0.445) !important;
}

.navbar-form {
    padding: 10px 5px !important;
}
/* .column{
    float: left;
    width: 99%;
    margin-left: 5px;
} */
/**/
.controls{
    text-align: left;
}

.input-form {
    margin-right: 10px !important;
    padding-left: 0px !important;

}

.search-form{
    margin-top: 12px !important;
    padding-right: 10px !important;
    font-size: 18px !important;
    color: rgb(131, 131, 131);
}

.dropdown{
    width: 250px; /* 원하는 너비설정 */
    padding: .5em .5em; /* 여백으로 높이 설정 */
    font-family: inherit;  /* 폰트 상속 */
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px; /* iOS 둥근모서리 제거 */
    -moz-appearance: none;
    appearance: none;
    background-color: rgb(223, 223, 223);
    font-weight: 700;
    /* margin-right: 200px; */
}
.process-color{
    width: 200px;
    background-color: #c2c2c2;
    /*color: #ffffff; */
}


/* .nav-console-wrapper{
    padding-top: 35px !important;
    padding-bottom: 0px !important;
} */
.console{
    padding-left: 0px;
    color: rgb(136, 138, 255);
    font-size: 1em;
}

.row {
    margin-top : 70px;
    margin-right: -15px;
    margin-left: -15px;
}
/* .sidebar{
    background-color: #707070 !important;
} */

/* .hot{
    margin-left: 5px;
} */

/* .handsontable th {
    background-color: #a2cefa;
} */
.ht_master tr td {
    background-color: #ffffff;
}

.editbox{
    background-color: #f1f9ff;
    width: 100% !important;
    height: 825px;
    border-radius: 15px;
    margin-top: 40px;
    border: 1px solid rgb(236, 236, 236) !important;
}
.h5-header{
    font-weight: 550;

}

#bold {
    width: 20px;
    height: 20px;
}

.sidebar{
    text-align: center;
    border-radius: 15px;
    border: 1px solid rgb(221, 221, 221) !important;
    margin-top: 130px;
    height: 900px;
    width: 30px;
    background-color: rgb(255, 253, 253);
}

.sidebar-info{
    background-color: rgb(247, 240, 255);
    border-radius: 5px;
    height: 25px;
    width: 100%;
    margin : 5px 0px 5px 0px;
    float: left;
}
.static-info-name{
    float: left;
    font-weight: 700;
    margin: 4px 0px 0px 10px;
}
.info-info{
    float: right;
    margin: 4px 30px 0px 0px;
}

.panel{
    margin: 40px 0 6px !important;
    padding-bottom: 0px !important;
    padding-top: 80px;
}
.panel-head{
    font-size: 20;
    font-weight: 700;
}
.panel-heading{
    border-bottom: 0px solid transparent !important;
}

.spreadsheet{
    margin: 15px 20px 0px 15px;
}

.left-btn-wrapper{
    float: left;
}

.upload-btn-wrapper{
    float: right;
}

#footer-line{
    margin-bottom: 0px;
}

.footer{
    text-align: center;
    color: rgb(211, 211, 211);
}

#SealockLogo{

    width: 50px;
    height: 50px;
    float: left;
}


.tablebox{
    margin-top: 90px;
}



.textbartools{
    margin: 40px;;
}

.file-field.big .file-path-wrapper {
    height: 3.2rem; 
}

.file-field.big .file-path-wrapper .file-path {
    height: 3rem; 
}


/* #link {color: #E45635;display:block;font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;text-align:center; text-decoration: none;}
#link:hover {color: #CCCCCC}

#link, #link:hover {-webkit-transition: color 0.5s ease-out;-moz-transition: color 0.5s ease-out;-ms-transition: color 0.5s ease-out;-o-transition: color 0.5s ease-out;transition: color 0.5s ease-out;}

        body {background: #333333;}
        @keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-moz-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-webkit-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-o-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-moz-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-webkit-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-o-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-moz-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-webkit-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-o-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }
        .loading-container,
        .loading {
            height: 100px;
            position: relative;
            width: 100px;
            border-radius: 100%;
        }


        .loading-container { margin: 40px auto }

        .loading {
            border: 2px solid transparent;
            border-color: transparent #fff transparent #FFF;
            -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
            -moz-transform-origin: 50% 50%;
            -o-animation: rotate-loading 1.5s linear 0s infinite normal;
            -o-transform-origin: 50% 50%;
            -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
            -webkit-transform-origin: 50% 50%;
            animation: rotate-loading 1.5s linear 0s infinite normal;
            transform-origin: 50% 50%;
        }

        .loading-container:hover .loading {
            border-color: transparent #E45635 transparent #E45635;
        }
        .loading-container:hover .loading,
        .loading-container .loading {
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }

        #loading-text {
            -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
            -o-animation: loading-text-opacity 2s linear 0s infinite normal;
            -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
            animation: loading-text-opacity 2s linear 0s infinite normal;
            color: #ffffff;
            font-family: "Helvetica Neue, "Helvetica", ""arial";
            font-size: 10px;
            font-weight: bold;
            margin-top: 45px;
            opacity: 0;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            top: 0;
            width: 100px;
        } */
